.btn2{
    /* top: 202px;
    left: 1149px;
    width: 114px;
    height: 45px; */
    /* background: #FFFEE1 0% 0% no-repeat padding-box;
    border-radius: 23px;
    opacity: 1; */
}

.text-size{
    font-size: 2px;
}