.pill-styles{
    top: 106px;
    left: 457px;
    width: 174px;
    height: 71px;
    background: #0099FF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #B9B9B91C;
    border-radius: 8px;
    opacity: 1;
}