.navbar {
   /* z-index: 1000;
   position: fixed;
   top: 0px;
   width: 100%; */
}

.brand {
   top: 16px;
   left: 83px;
   width: 80px;
   height: 33px;
   background: #FFF700 0% 0% no-repeat padding-box;
   border-radius: 23px;
   opacity: 1;
}

.logo-title {
   margin-left: 37px ;
}